

.services {

    margin: 0 1.5%;
    width: 63%;
}
.categories {

    margin: 0 1.5%;
    width: 30%;
}

.box {
    display: flex;
    align-items: stretch;
}

.search-image {
    width: 50px;
    height: 60px;
}